{% extends 'base.html' %}


{% block content %}




<article class="entry">
<header class="entry-header">
</header>
	<ol class="disc">
		{% for pub in page.object_list %}
		<li>{{pub.title}}</li>
		{% endfor %}
	</ol>
	
</article>



<div class="row add-bottom">
<nav class="pagination add-bottom">

{% if page.has_previous %}
<a href="{% url 'pub_with_page' page.previous_page_number %}" class="page-numbers next">Prev</a>
{% else %}
<a href="" class="page-numbers next inactive">Prev</a>
{% endif %}


{% for pg_id in page_range %}
	{% if page.number == pg_id%}
	<a href="{% url 'pub_with_page' pg_id %}" class="page-numbers current">{{pg_id}}</a>
	{% else %}
	<a href="{% url 'pub_with_page' pg_id %}" class="page-numbers">{{pg_id}}</a>
	{% endif %}
{% endfor %}

{% if page.has_next %}
<a href="{% url 'pub_with_page' page.next_page_number %}" class="page-numbers next">Next</a>
{% else %}
<a href="" class="page-numbers next inactive">Next</a>
{% endif %}

</nav>
<hr />
</div> <!-- Row End-->
{% endblock %}



{% block sidebar %}
<div class="widget widget_search">
	<h3>Search</h3> 
	<form type="get" action="">

		<input  name ="search" type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
		<input type="submit" value="" class="submit-search">

	</form>
</div>



<div class="widget widget_tags">
<h3>Type</h3>
<div class="tagcloud group">
	{% for type in type_list %}
	<a href="?{{qDict.urlencode}}">{{type.1}}</a>
	{% endfor %}
</div>
  
</div>



{% endblock %}